<?xml version="1.0"?>
<config>
    <modules>
        <Klarna_CaptureWhenOrderComplete>
            <version>1.0.4</version>
        </Klarna_CaptureWhenOrderComplete>
    </modules>
    <global>
        <helpers>
            <klarna_capturewhenordercomplete>
                <class>Klarna_CaptureWhenOrderComplete_Helper</class>
            </klarna_capturewhenordercomplete>
        </helpers>
        <models>
            <klarna_capturewhenordercomplete>
                <class>Klarna_CaptureWhenOrderComplete_Model</class>
            </klarna_capturewhenordercomplete>
        </models>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <klarna_capturewhenordercomplete_capture>
                        <type>model</type>
                        <class>klarna_capturewhenordercomplete/observer</class>
                        <method>salesOrderSaveCommitAfter</method>
                    </klarna_capturewhenordercomplete_capture>
                </observers>
            </sales_order_save_commit_after>
            <kco_push_notification_after>
                <observers>
                    <klarna_capturewhenordercomplete_create_invoice>
                        <type>model</type>
                        <class>klarna_capturewhenordercomplete/observer</class>
                        <method>kcoCreateInvoice</method>
                    </klarna_capturewhenordercomplete_create_invoice>
                </observers>
            </kco_push_notification_after>
        </events>
    </global>
</config>
